/* Media Queries (for copy & paste) */

/* @media (max-width: 576px) {}

@media (min-width: 577px) and (max-width: 768px) {}

@media (min-width: 769px) and (max-width: 992px) {}

@media (min-width: 993px) {} */

/* || General Styles */

* {
  font-optical-sizing: auto;
  font-family: 'Inter', system-ui;
}

body,
html {
  margin: 0;
  background-color: #111111;
  color: white;
}

main {
  min-height: 100dvh;
}

a {
  color: inherit;
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  background: -webkit-linear-gradient(#ffffff, #cccccc);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media (max-width: 576px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
  }

  p {
    font-size: 0.9rem;
  }

  .text-icon {
    height: 0.9rem;
    width: 0.9rem;
    border-radius: 0.25rem;
    transform: translateY(0.08rem);
  }
}

@media (min-width: 577px) and (max-width: 769px) {
  h1 {
    font-size: 4rem;
  }

  h2 {
    font-size: 2rem;
  }

  p {
    font-size: 1.4rem;
  }

  .text-icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
    transform: translateY(0.2rem);
  }
}

@media (min-width: 769px) and (max-width: 993px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.4rem;
  }

  .text-icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
    transform: translateY(0.2rem);
  }
}

@media (min-width: 993px) {
  h1 {
    font-size: 5rem;
  }

  h2 {
    font-size: 3rem;
  }

  p {
    font-size: 1.4rem;
  }

  .text-icon {
    height: 1.5rem;
    width: 1.5rem;
    border-radius: 0.25rem;
    transform: translateY(0.23rem);
  }
}

.muted {
  color: rgba(255, 255, 255, 0.8);
}

hr {
  width: 90%;
  background-color: #eee;
  border: 0 none;
  color: #eee;
  height: 1px;
  opacity: 0.1;
}

.btn-primary {
  background-color: white;
  color: black;
  border: 0;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: 600;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 20px;
  padding-left: 20px;
  transition: transform 0.3s ease;
}

.btn-primary:hover {
  background-color: #f0f0f0;
  cursor: pointer;
}

.btn-primary:active {
  transform: scale(0.9);
}

/* || Header Styles */

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  right: 10px;
  left: 10px;
  position: absolute;
}

.logo {
  height: 42px;
  width: 35px;
  transform: scale(0.7);
}

.github-logo {
  border-radius: 5px;
  background-color: #181818;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-right: 15px;
  padding-left: 15px;
  font-weight: 600;
  display: flex;
  gap: 10px;
  align-items: center;
}

.github-logo img {
  height: 20px;
}

.github-logo:hover {
  background-color: #222222;
  cursor: pointer;
}

@media (max-width: 576px) {
  header {
    margin-top: 20px;
    right: 20px;
    left: 20px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  header {
    margin-top: 30px;
    right: 30px;
    left: 30px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  header {
    margin-top: 40px;
    right: 40px;
    left: 40px;
  }
}

@media (min-width: 993px) {
  header {
    margin-top: 40px;
    right: 40px;
    left: 40px;
  }
}

/* || Hero Section Styles */

.hero-section {
  text-align: center;
}

.hero-section h1,
h2 {
  margin: 0;
}

.hero-section p {
  margin-right: auto;
  margin-left: auto;
}

.hero-section .special-btn {
  margin: auto;
}

.special-btn {
  position: relative;
  display: flex;
  width: fit-content;
  align-items: center;
  justify-content: center;
}

.special-btn button {
  z-index: 2;
  position: relative;
}

.special-btn .emoji {
  position: absolute;
  height: 25px;
  width: 25px;
  z-index: 1;
  transition: transform 0.3s ease;
}

@media (max-width: 576px) {
  .hero-section p {
    width: 80%;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .hero-section p {
    width: 80%;
  }

  .special-btn:hover .emoji:nth-of-type(1) {
    transform: translate(-290%, -120%);
  }

  .special-btn:hover .emoji:nth-of-type(2) {
    transform: translate(290%, 120%);
  }

  .special-btn:hover .emoji:nth-of-type(3) {
    transform: translate(0%, -150%);
  }

  .special-btn:hover .emoji:nth-of-type(4) {
    transform: translate(0%, 150%);
  }

  .special-btn:hover .emoji:nth-of-type(5) {
    transform: translate(-290%, 120%);
  }

  .special-btn:hover .emoji:nth-of-type(6) {
    transform: translate(290%, -120%);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .hero-section p {
    width: 80%;
  }

  .special-btn:hover .emoji:nth-of-type(1) {
    transform: translate(-290%, -120%);
  }

  .special-btn:hover .emoji:nth-of-type(2) {
    transform: translate(290%, 120%);
  }

  .special-btn:hover .emoji:nth-of-type(3) {
    transform: translate(0%, -150%);
  }

  .special-btn:hover .emoji:nth-of-type(4) {
    transform: translate(0%, 150%);
  }

  .special-btn:hover .emoji:nth-of-type(5) {
    transform: translate(-290%, 120%);
  }

  .special-btn:hover .emoji:nth-of-type(6) {
    transform: translate(290%, -120%);
  }
}

@media (min-width: 993px) {
  .hero-section p {
    width: 45%;
  }

  .special-btn:hover .emoji:nth-of-type(1) {
    transform: translate(-290%, -120%);
  }

  .special-btn:hover .emoji:nth-of-type(2) {
    transform: translate(290%, 120%);
  }

  .special-btn:hover .emoji:nth-of-type(3) {
    transform: translate(0%, -150%);
  }

  .special-btn:hover .emoji:nth-of-type(4) {
    transform: translate(0%, 150%);
  }

  .special-btn:hover .emoji:nth-of-type(5) {
    transform: translate(-290%, 120%);
  }

  .special-btn:hover .emoji:nth-of-type(6) {
    transform: translate(290%, -120%);
  }
}

/* || Details Section Styles */

.details-section {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr 1fr;
  width: 90%;
  margin: auto;
  padding-bottom: 40px;
}

.table-area h2 {
  z-index: -1;
}

.table {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background: linear-gradient(
    90deg,
    rgba(121, 220, 233, 0.1),
    rgba(53, 121, 245, 0.1)
  );
  backdrop-filter: blur(2px);
  border-radius: 15px;
  padding: 20px;
  gap: 20px;
}

@media (max-width: 576px) {
  .table-area h2 {
    transform: translateY(0.6rem);
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .table-area h2 {
    transform: translateY(0.9rem);
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .table-area h2 {
    transform: translateY(1.2rem);
  }
}

@media (min-width: 993px) {
  .table-area h2 {
    transform: translateY(1.2rem);
  }
}

/* || Footer Styles */

footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  width: 90%;
}

.credits {
  display: flex;
  align-items: center;
}

.credits img {
  height: 40px;
  width: 40px;
  border-radius: 100%;
}

.credits p {
  font-size: 1rem;
  line-height: 1.4rem;
  font-weight: 300;
}

.credits b {
  font-weight: 500;
}

@media (max-width: 576px) {
  footer {
    flex-direction: column;
  }

  .credits {
    flex-direction: column;
    text-align: center;
    padding-top: 10px;
  }
}

@media (min-width: 577px) and (max-width: 768px) {
  .credits {
    gap: 20px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .credits {
    gap: 20px;
  }
}

@media (min-width: 993px) {
  .credits {
    gap: 20px;
  }
}
